.highlight {
    background-color: yellow;
}


div#profilingResultsPanel {
    border: 1px gray solid;
    display: none;
}

div#profilingResultsPanel.enabled {
    display: block !important;
}

div#profilingResultsPanel::before {
    content: "Profiling results";
    padding: 0.25em 0em 0.25em 1em;
    display: block;
    background-color: dodgerblue;
}

div.dataTableWrapper {
    border: 1px darkgoldenrod solid;
    margin: 1em 1em;
}

div.dataTableWrapper>div.dataTableWrapperTitle::before {
    padding: 0.25em 0em 0.25em 1em;
    display: block;
    background-color: darkgreen;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

div.dataTableWrapper.show-less>div.dataTableWrapperTitle::before {
    content: "(+More) Data Teble: " attr(data-table-name);
}

div.dataTableWrapper.show-more>div.dataTableWrapperTitle::before {
    content: "(-Less) Data Teble: " attr(data-table-name);
}

div.dataTableWrapper.show-less>div.dataTableWrapperContent {
    max-height: 400px;
    overflow-y: scroll;
}

table.data-table {
    margin-top: 1em;
    margin-bottom: 1em;
}
